
nav {
	background: grey;
	position: fixed;
	width: 100%;
	height: 100px;
	/*font-size: 0px;*/
}


ul {
	position: absolute;
	list-style-type: none;
	left: 150px;
	top: 25px;
}

li {
	/*position: relative;*/
	display: inline;
}

.logo {
	position: absolute;
	width: 80px;
	left: 60px;
	top: 10px;
	/*bottom: 20px;*/
	border-radius: 50%;
	border: 1px solid black;
}

li::after {
	content: " | ";
}

a:link {
  /* unvisited link */
  color: purple;
}

a:visited {
  /* visited link */
  color: purple;
}

a:hover {
  /* mouse over link */
  font-style: 
}

a:active {
  /* selected link (i.e., you've clicked
    but not released on the link)
 */
  color: black;
}

main {
	background-image: none;
	text-align: center; 
}

.borderBox {
	position: fixed;
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	right: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	
}

#spacecat {
	position: absolute;
	left: -50px;
	top: -50px;
}

#spacedog {
	position: absolute;
	right: -50px;
	bottom: -50px;
}
